@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
/* GLOBALS */
/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 8vh 1fr 8vh;
  background-color: #EFEFEF;
  row-gap: 5rem; }

h2 {
  font-size: 4rem;
  font-family: "'Andada Pro', serif";
  color: #FFFFFF; }

p {
  font-size: 2.5rem;
  font-family: "'Andada Pro', serif";
  color: #FFFFFF;
  text-align: justify; }

/* PARTIALS */
header {
  grid-column: 1/4;
  grid-row: 1;
  z-index: 1;
  height: 8vh;
  width: 100vw;
  position: sticky;
  top: 0; }
  header .navbar {
    padding: 0; }
  header .bg-light {
    background-color: #1B4079 !important; }
    header .bg-light .container-fluid {
      padding-left: 10vw;
      padding-right: 10vw; }
      header .bg-light .container-fluid img {
        transform: scale(0.7); }
      header .bg-light .container-fluid .nav-link {
        font-family: 'Alice', serif;
        color: #ffffff;
        font-size: 2rem;
        transition: 0.3s; }
        header .bg-light .container-fluid .nav-link:hover {
          color: #ffffff;
          opacity: 0.7; }
      header .bg-light .container-fluid .navbar-collapse {
        flex-direction: row-reverse; }
      header .bg-light .container-fluid .navbar-toggler-icon {
        background-image: url("../img/display.svg"); }

.footer {
  grid-column: 1/4;
  grid-row: 3;
  z-index: 1;
  height: 8vh;
  width: 100vw;
  background-color: #1B4079;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0 0 0 10vw;
    display: inline-block; }
  .footer__division2 {
    margin: 0 10vw 0 0; }
    .footer__division2 img {
      width: 4.5rem;
      margin: 0 0.5rem; }

/* PAGES */
/* HOME */
.home {
  grid-column: 2;
  grid-row: 2; }
  .home__section1 {
    width: 80vw;
    height: 73vh;
    display: grid;
    grid-template-columns: 4vw 36vw 40vw;
    grid-template-rows: 4vh 65vh 4vh; }
    .home__section1__division1 {
      width: 80vw;
      height: 69vh;
      grid-column: 1/4;
      grid-row: 1/3;
      overflow: hidden;
      justify-content: center;
      align-content: center; }
      .home__section1__division1 img {
        min-width: 80vw; }
    .home__section1__division2 {
      background-color: #345EB2;
      opacity: 0.7;
      grid-column: 2;
      grid-row: 2/4;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .home__section1__division2 h2 {
        text-align: center; }
      .home__section1__division2 p {
        padding: 0 2rem; }
  .home__section2 {
    margin-top: 5rem;
    width: 80vw; }
    .home__section2__fondoTitulo1 {
      width: 40rem;
      height: 7rem;
      background-color: #DAE5F7;
      position: relative;
      left: -10vw;
      top: 4rem;
      z-index: -1; }
    .home__section2__fondoTitulo2 {
      display: inline-block;
      background-color: #11284C; }
      .home__section2__fondoTitulo2 h2 {
        padding: 0.7rem 8.5rem; }
    .home__section2__division2 {
      display: grid;
      grid-template-columns: 38.75vw 2.5vw 38.75vw;
      grid-template-rows: 60vh;
      margin-top: 2.5rem; }
      .home__section2__division2__img1 {
        background-image: url("../img/img2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1; }
        .home__section2__division2__img1__texto {
          background-color: #11284C;
          opacity: 0;
          transition: 0.25s; }
          .home__section2__division2__img1__texto:hover {
            opacity: 0.8; }
          .home__section2__division2__img1__texto p {
            margin: 0;
            padding: 4rem 1.5rem; }
      .home__section2__division2__img2 {
        background-image: url("../img/img3.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 3; }
        .home__section2__division2__img2__texto {
          background-color: #11284C;
          opacity: 0;
          transition: 0.25s; }
          .home__section2__division2__img2__texto:hover {
            opacity: 0.8; }
          .home__section2__division2__img2__texto p {
            margin: 0;
            padding: 4rem 1.5rem; }

@media only screen and (max-width: 990px) {
  .home__section1 {
    grid-template-rows: 14vh 55vh 4vh; }
    .home__section1__division1 {
      grid-column: 2/4;
      width: 76vw; }
    .home__section1__division2 {
      grid-column: 1/3; }
  .home__section2 {
    margin-top: 1rem;
    width: 80vw; } }

@media only screen and (max-width: 860px) {
  .home__section1 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem; }
    .home__section1__division1 {
      width: 80vw; }
  .home__section2__division2 {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem; } }

/* NOSOTROS */
.nosotros {
  grid-column: 2;
  grid-row: 2; }
  .nosotros__section1 {
    width: 80vw; }
    .nosotros__section1__fondoTitulo1 {
      width: 40rem;
      height: 7rem;
      background-color: #DAE5F7;
      position: relative;
      left: -10vw;
      top: 4.5rem;
      z-index: -1; }
    .nosotros__section1__fondoTitulo2 {
      display: inline-block;
      background-color: #11284C; }
      .nosotros__section1__fondoTitulo2 h2 {
        padding: 0.1rem 11rem; }
    .nosotros__section1__division {
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem; }
      .nosotros__section1__division__img {
        width: 39vw;
        height: 40vh;
        background-image: url("../img/img4.jpeg");
        background-size: cover; }
      .nosotros__section1__division__texto {
        width: 39vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .nosotros__section1__division__texto p {
          margin: 0;
          display: inline-block;
          color: #0D203D; }
  .nosotros__section2 {
    width: 80vw;
    margin: 4rem 0 0 0; }
    .nosotros__section2__titulo {
      position: relative;
      height: 9rem; }
      .nosotros__section2__titulo__fondoTitulo1 {
        width: 40rem;
        height: 7rem;
        background-color: #DAE5F7;
        position: absolute;
        right: -10vw;
        z-index: -1; }
      .nosotros__section2__titulo__fondoTitulo2 {
        display: inline-block;
        background-color: #11284C;
        position: absolute;
        right: 0;
        top: 2.5rem; }
        .nosotros__section2__titulo__fondoTitulo2 h2 {
          padding: 0.1rem 11rem; }
    .nosotros__section2__division {
      width: 80vw;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 2rem; }
      .nosotros__section2__division__img {
        width: 39vw;
        height: 40vh;
        background-image: url("../img/img5.jpeg");
        background-size: cover; }
      .nosotros__section2__division__texto {
        width: 39vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .nosotros__section2__division__texto p {
          margin: 0;
          display: inline-block;
          color: #0D203D; }
