/* NOSOTROS */

.nosotros {
    grid-column: 2;
    grid-row: 2;

    &__section1 {
        width: 80vw;

        &__fondoTitulo1 {
            width: 40rem;
            height: 7rem;
            background-color: #DAE5F7;
            position: relative;
            left: -10vw;
            top: 4.5rem;
            z-index: -1;
        }

        &__fondoTitulo2 {
            display: inline-block;
            background-color: #11284C;

            h2 {
                padding: 0.1rem 11rem;
            }
        }

        &__division {
            width: 80vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;

            &__img {
                width: 39vw;
                height: 40vh;
                background-image: url("../img/img4.jpeg");
                background-size: cover;
            }

            &__texto {
                width: 39vw;
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 0;
                    display: inline-block;
                    color: #0D203D;
                }
            }
        }
    }

    &__section2 {
        width: 80vw;
        margin: 8rem 0 0 0;

        &__titulo {
            position: relative;
            height: 9rem;

            &__fondoTitulo1 {
                width: 40rem;
                height: 7rem;
                background-color: #DAE5F7;
                position: absolute;
                right: -10vw;
                z-index: -1;
            }
    
            &__fondoTitulo2 {
                display: inline-block;
                background-color: #11284C;
                position: absolute;
                right: 0;
                top: 2.5rem;
    
                h2 {
                    padding: 0.1rem 11rem;
                }
            }
        }

        &__division {
            width: 80vw;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 2rem;

            &__img {
                width: 39vw;
                height: 40vh;
                background-image: url("../img/img5.jpeg");
                background-size: cover;
            }

            &__texto {
                width: 39vw;
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 0;
                    display: inline-block;
                    color: #0D203D;
                }
            }
        }
    }
}

@media only screen and (max-width: 940px) {

    .nosotros {
        
        &__section1 {

            &__division {
                flex-direction: column;

                &__img {
                    width: 80vw;
                    height: 60vh;
                }

                &__texto {
                    width: 80vw;
                }
            }
        }

        &__section2 {
            margin-top: 4rem;

            &__titulo {
                
                &__fondoTitulo2 {

                    h2 {
                        padding: 0.1rem 6rem;
                    }
                }
            }

            &__division {
                flex-direction: column;

                &__img {
                    width: 80vw;
                    height: 60vh;
                }

                &__texto {
                    width: 80vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 670px) {

    .nosotros {

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.5rem;
        }

        &__section1 {

            &__fondoTitulo1 {
                height: 4.5rem;
                width: 80vw;
                top: 3rem;
            }

            &__fondoTitulo2 {
                
                h2 {
                    padding: 0.1rem 1rem;
                }
            }

            &__division {

                &__texto {
                    height: auto;
                    margin: 1.5rem 0;
                }
            }
        }

        &__section2 {

            &__titulo {

                &__fondoTitulo1 {
                    height: 4.5rem;
                    width: 80vw;
                }

                &__fondoTitulo2 {

                    h2 {
                        padding: 0.1rem 1rem;
                    }
                }
            }

            &__division {

                &__texto {
                    height: auto;
                    margin: 1.5rem 0;
                }
            }
        }
    }
}