header {
    grid-column: 1/4;
    grid-row: 1;
    z-index: 1;
    height: 8vh;
    width: 100vw;
    position: sticky;
    top: 0;

    .navbar {
        padding: 0;
    }

    .bg-light {
        background-color: #1B4079 !important;

        .container-fluid {
            padding-left: 10vw;
            padding-right: 10vw;

            img {
                transform: scale(0.7);
            }

            .nav-link {
                font-family: 'Alice', serif;
                color: #ffffff;
                font-size: 2rem;
                transition: 0.3s;

                &:hover {
                    color: #ffffff;
                    opacity: 0.7;
                }

            }

            .navbar-collapse {
                flex-direction: row-reverse;
            }

            .navbar-toggler-icon {
                background-image: url("../img/display.svg");
            }
        }
    }
}